.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #000000, #666666);
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER-LEFT;
}

.nav-btn:hover{
    -fx-text-fill: #b5b5b5;
    -fx-cursor: hand;
}

.btn{
    -fx-background-color: #050000;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.btn:hover{
    -fx-background-color: #424040;
}

.logout{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.logout:hover{
    -fx-background-color: #b5b5b5;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.white-bg{
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.nav-lista{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #b3c7c5);
    -fx-background-color: #ebebeb;
    -fx-background-radius: 10px;
}


