.seleccionar-director{
    -fx-background-color: black;
    -fx-background-radius: 4px;
    
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.combobox{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-prompt-text-fill: black
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: black; 
    -fx-text-fill: white; 
}

.combo-box .list-view .list-cell:selected .text {
    -fx-text-fill: white; 
}


.jfx-combo-box {
	-fx-background-color:  transparent;
        -fx-border-color: white;
}

.jfx-combo-box .label {
	-fx-background-color:  WHITE;
	-fx-text-fill: RED;
}

