
.pane-label{
    -fx-background-radius: 8px;
    -fx-background-color: #000000;
}

.textfield{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.textarea{
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.textarea:focused{
    -fx-focus-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combobox{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

.buttonD{
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.buttonD:hover{
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 78d66ed7c2a6b3cbc2aa5ce98cacffc372d1c8f4
.pickDate{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}

.pickDate:hover{
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
<<<<<<< HEAD
=======
=======
}

>>>>>>> 78d66ed7c2a6b3cbc2aa5ce98cacffc372d1c8f4
.buttonD:focused{
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: white;
    -fx-border-color: black;
<<<<<<< HEAD
>>>>>>> main
=======
>>>>>>> 78d66ed7c2a6b3cbc2aa5ce98cacffc372d1c8f4
}