.top-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form{
    -fx-background-color: #efefef;
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #29d2f0);
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER-LEFT;
}

.logout{
    -fx-background-color: #17a6bf;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.logout:hover{
    -fx-background-color: #0a6a7a;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}























