.seleccionar-director{
    -fx-background-color: black;
    -fx-background-radius: 4px;
    
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.combobox{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-radius: 10px;
    -fx-font-color: white;
}